<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-999</key>
	<dict>
		<key>DayIcon</key>
		<string>N/A</string>
		<key>NightIcon</key>
		<string>N/A</string>
	</dict>
	<key>0</key>
	<dict>
		<key>DayIcon</key>
		<string>Sunny.gif</string>
		<key>NightIcon</key>
		<string>Clear.gif</string>
	</dict>
	<key>1</key>
	<dict>
		<key>DayIcon</key>
		<string>PartlyCloudyDay.gif</string>
		<key>NightIcon</key>
		<string>PartlyCloudyNight.gif</string>
	</dict>
	<key>2</key>
	<dict>
		<key>DayIcon</key>
		<string>Cloudy.gif</string>
		<key>NightIcon</key>
		<string>Cloudy.gif</string>
	</dict>
	<key>3</key>
	<dict>
		<key>DayIcon</key>
		<string>Overcast.gif</string>
		<key>NightIcon</key>
		<string>Overcast.gif</string>
	</dict>
	<key>10</key>
	<dict>
		<key>DayIcon</key>
		<string>Mist.gif</string>
		<key>NightIcon</key>
		<string>Mist.gif</string>
	</dict>
	<key>21</key>
	<dict>
		<key>DayIcon</key>
		<string>OccLightRain.gif</string>
		<key>NightIcon</key>
		<string>OccLightRain.gif</string>
	</dict>
	<key>22</key>
	<dict>
		<key>DayIcon</key>
		<string>IsoSleetSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>IsoSleetSwrsNight.gif</string>
	</dict>
	<key>23</key>
	<dict>
		<key>DayIcon</key>
		<string>OccLightSleet.gif</string>
		<key>NightIcon</key>
		<string>OccLightSleet.gif</string>
	</dict>
	<key>24</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingDrizzle.gif</string>
		<key>NightIcon</key>
		<string>FreezingDrizzle.gif</string>
	</dict>
	<key>29</key>
	<dict>
		<key>DayIcon</key>
		<string>PartCloudRainThunderDay.gif</string>
		<key>NightIcon</key>
		<string>PartCloudRainThunderNight.gif</string>
	</dict>
	<key>38</key>
	<dict>
		<key>DayIcon</key>
		<string>ModSnow.gif</string>
		<key>NightIcon</key>
		<string>ModSnow.gif</string>
	</dict>
	<key>39</key>
	<dict>
		<key>DayIcon</key>
		<string>Blizzard.gif</string>
		<key>NightIcon</key>
		<string>Blizzard.gif</string>
	</dict>
	<key>45</key>
	<dict>
		<key>DayIcon</key>
		<string>Fog.gif</string>
		<key>NightIcon</key>
		<string>Fog.gif</string>
	</dict>
	<key>49</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingFog.gif</string>
		<key>NightIcon</key>
		<string>FreezingFog.gif</string>
	</dict>
	<key>50</key>
	<dict>
		<key>DayIcon</key>
		<string>IsoRainSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>IsoRainSwrsNight.gif</string>
	</dict>
	<key>51</key>
	<dict>
		<key>DayIcon</key>
		<string>OccLightRain.gif</string>
		<key>NightIcon</key>
		<string>OccLightRain.gif</string>
	</dict>
	<key>56</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingDrizzle.gif</string>
		<key>NightIcon</key>
		<string>FreezingDrizzle.gif</string>
	</dict>
	<key>57</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingDrizzle.gif</string>
		<key>NightIcon</key>
		<string>FreezingDrizzle.gif</string>
	</dict>
	<key>60</key>
	<dict>
		<key>DayIcon</key>
		<string>OccLightRain.gif</string>
		<key>NightIcon</key>
		<string>OccLightRain.gif</string>
	</dict>
	<key>61</key>
	<dict>
		<key>DayIcon</key>
		<string>ModRain.gif</string>
		<key>NightIcon</key>
		<string>ModRain.gif</string>
	</dict>
	<key>62</key>
	<dict>
		<key>DayIcon</key>
		<string>ModRainSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>ModRainSwrsNight.gif</string>
	</dict>
	<key>63</key>
	<dict>
		<key>DayIcon</key>
		<string>ModRain.gif</string>
		<key>NightIcon</key>
		<string>ModRain.gif</string>
	</dict>
	<key>64</key>
	<dict>
		<key>DayIcon</key>
		<string>HeavyRainSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>HeavyRainSwrsNight.gif</string>
	</dict>
	<key>65</key>
	<dict>
		<key>DayIcon</key>
		<string>HeavyRain.gif</string>
		<key>NightIcon</key>
		<string>HeavyRain.gif</string>
	</dict>
	<key>66</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingRain.gif</string>
		<key>NightIcon</key>
		<string>FreezingRain.gif</string>
	</dict>
	<key>67</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingRain.gif</string>
		<key>NightIcon</key>
		<string>FreezingRain.gif</string>
	</dict>
	<key>68</key>
	<dict>
		<key>DayIcon</key>
		<string>ModSleet.gif</string>
		<key>NightIcon</key>
		<string>ModSleet.gif</string>
	</dict>
	<key>69</key>
	<dict>
		<key>DayIcon</key>
		<string>HeavySleet.gif</string>
		<key>NightIcon</key>
		<string>HeavySleet.gif</string>
	</dict>
	<key>70</key>
	<dict>
		<key>DayIcon</key>
		<string>OccLightSnow.gif</string>
		<key>NightIcon</key>
		<string>OccLightSnow.gif</string>
	</dict>
	<key>71</key>
	<dict>
		<key>DayIcon</key>
		<string>OccLightSnow.gif</string>
		<key>NightIcon</key>
		<string>OccLightSnow.gif</string>
	</dict>
	<key>72</key>
	<dict>
		<key>DayIcon</key>
		<string>ModSnow.gif</string>
		<key>NightIcon</key>
		<string>ModSnow.gif</string>
	</dict>
	<key>73</key>
	<dict>
		<key>DayIcon</key>
		<string>ModSnow.gif</string>
		<key>NightIcon</key>
		<string>ModSnow.gif</string>
	</dict>
	<key>74</key>
	<dict>
		<key>DayIcon</key>
		<string>HeavySnowSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>HeavySnowSwrsNight.gif</string>
	</dict>
	<key>75</key>
	<dict>
		<key>DayIcon</key>
		<string>HeavySnow.gif</string>
		<key>NightIcon</key>
		<string>HeavySnow.gif</string>
	</dict>
	<key>79</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingRain.gif</string>
		<key>NightIcon</key>
		<string>FreezingRain.gif</string>
	</dict>
	<key>80</key>
	<dict>
		<key>DayIcon</key>
		<string>IsoRainSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>IsoRainSwrsNight.gif</string>
	</dict>
	<key>81</key>
	<dict>
		<key>DayIcon</key>
		<string>ModRainSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>ModRainSwrsNight.gif</string>
	</dict>
	<key>82</key>
	<dict>
		<key>DayIcon</key>
		<string>HeavyRain.gif</string>
		<key>NightIcon</key>
		<string>HeavyRain.gif</string>
	</dict>
	<key>83</key>
	<dict>
		<key>DayIcon</key>
		<string>ModSleetSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>ModSleetSwrsNight.gif</string>
	</dict>
	<key>84</key>
	<dict>
		<key>DayIcon</key>
		<string>ModSleetSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>ModSleetSwrsNight.gif</string>
	</dict>
	<key>85</key>
	<dict>
		<key>DayIcon</key>
		<string>IsoSnowSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>IsoSnowSwrsNight.gif</string>
	</dict>
	<key>86</key>
	<dict>
		<key>DayIcon</key>
		<string>ModSnowSwrsDay.gif</string>
		<key>NightIcon</key>
		<string>ModSnowSwrsNight.gif</string>
	</dict>
	<key>87</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingRain.gif</string>
		<key>NightIcon</key>
		<string>FreezingRain.gif</string>
	</dict>
	<key>88</key>
	<dict>
		<key>DayIcon</key>
		<string>FreezingRain.gif</string>
		<key>NightIcon</key>
		<string>FreezingRain.gif</string>
	</dict>
	<key>91</key>
	<dict>
		<key>DayIcon</key>
		<string>PartCloudRainThunderDay.gif</string>
		<key>NightIcon</key>
		<string>PartCloudRainThunderNight.gif</string>
	</dict>
	<key>92</key>
	<dict>
		<key>NightWeatherText</key>
		<string>Moderate or heavy rain with thunder</string>
		<key>DayIcon</key>
		<string>CloudRainThunder.gif</string>
		<key>NightIcon</key>
		<string>CloudRainThunder.gif</string>
	</dict>
	<key>93</key>
	<dict>
		<key>DayIcon</key>
		<string>PartCloudSleetSnowThunderDay.gif</string>
		<key>NightIcon</key>
		<string>PartCloudSleetSnowThunderNight.gif</string>
	</dict>
</dict>
</plist>
